// Default variables

$max-width: 1024px;

// Colors

$black: #212121;
$grey: #a6a6a6;
$light-grey: #f8f8f8;
$accent: #00e8be;

// Shadows

$shadow-color: rgba(0, 0, 0, 0.06);
$short-shadow: 0px 1px 1px $shadow-color, 0px 2px 2px $shadow-color,
  0px 4px 4px $shadow-color, 0px 6px 6px $shadow-color;
$sexy-shadow: 0px 1px 1px $shadow-color, 0px 2px 2px $shadow-color,
  0px 4px 4px $shadow-color, 0px 8px 8px $shadow-color,
  0px 16px 16px $shadow-color;
